<!-- <ng-container *ngIf="isAuthenticated(); else unauthenticated">
  <app-side-nav-outer-toolbar title="{{appInfo.title}}">



    <app-header></app-header>
    <dx-drop-down-box>test99</dx-drop-down-box>

    <p>{{interval$ | async}}</p>

    <router-outlet></router-outlet>
    <app-footer>
      Copyright © 2011-{{appInfo.currentYear}} {{appInfo.title}} Inc.
      <br/>
      All trademarks or registered trademarks are property of their respective owners.
    </app-footer>
  </app-side-nav-outer-toolbar>
</ng-container> -->
<div id="pivotgrid-demo">
  <dx-chart id="sales-chart">
    <dxo-common-series-settings type="bar"></dxo-common-series-settings>
    <dxo-size [height]="320"></dxo-size>
    <dxo-adaptive-layout [width]="450"></dxo-adaptive-layout>
    <dxo-tooltip
      [enabled]="true"
      [customizeTooltip]="customizeTooltip"
    ></dxo-tooltip>
  </dx-chart>

  <dx-pivot-grid
    id="pivotgrid"
    [allowSortingBySummary]="true"
    [allowFiltering]="true"
    [showBorders]="true"
    [allowSortingBySummary]="true"
    [showColumnGrandTotals]="false"
    [showRowGrandTotals]="false"
    [showRowTotals]="false"
    [showColumnTotals]="false"
    [dataSource]="pivotGridDataSource"
  >
    <dxo-field-chooser [enabled]="true"></dxo-field-chooser>
    <dxo-scrolling mode="virtual"></dxo-scrolling>
  </dx-pivot-grid>
</div>
<ng-template #unauthenticated>
  <app-unauthenticated-content></app-unauthenticated-content>
</ng-template>
